* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.head {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.874);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  flex-wrap: wrap;
}
.button {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
  border: 2px rgba(49, 49, 49, 0.445) outset;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  border-bottom: 2px black outset;
}
header img {
  min-width: 100px;
  max-width: 150px;
}
.container {
  background-color: white;
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "item1 item1 item1 item5"
    "item2 item3 item4 item5"
    "item6 item7 item8 item5"
    "item9 item10 item11 item5";
  gap: 20px;
  padding: 20px;
  padding-left: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}
section img {
  width: 273px;
  height: 200px;
  border-radius: 10px;
}
.item {
  text-align: center;
}
.item:hover {
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.item1 {
  grid-area: item1;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
}
.item1 h1 {
  font-size: 1.9em;
  font-weight: lighter;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
  padding: 30px;
}
.item5Part {
  margin-bottom: 20px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.item5Part h3 {
  font-weight: lighter;
}
.item5 h3 {
  font-weight: lighter;
}
.item5Part:hover {
  border: 1px solid white;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}
.item10 {
  grid-area: item10;
}
.item11 {
  grid-area: item11;
}
.footer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.874);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  flex-wrap: wrap;
}
footer img {
  min-width: 100px;
  max-width: 150px;
}
footer a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  padding: 5px;
  border-radius: 10px;
}
footer a:hover {
  border: 1px solid white;
}
@media (max-width: 1270px) {
  section img {
    width: 170px;
    height: auto;
  }
}
@media (max-width: 860px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "item1 item1 item5"
      "item2 item3 item5"
      "item4 item6 item5"
      "item7 item8 item5"
      "item9 item10 item5"
      "item11 item11 item5";
  }
  .item5Part {
    margin: 100px 0px;
  }
}
@media (max-width: 665px) {
  section img {
    width: 160px;
    height: auto;
  }
}
@media (max-width: 635px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "item1 item5"
      "item2 item5"
      "item3 item5"
      "item4 item5"
      "item6 item5"
      "item7 item5"
      "item8 item5"
      "item9 item5"
      "item10 item5"
      "item11 item5";
  }
  .item5Part {
    margin: 300px 0px;
  }
}
@media (max-width: 470px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item6"
      "item7"
      "item8"
      "item9"
      "item10"
      "item11"
      "item5";
    padding-left: 0px;
  }
  .item5Part {
    margin: 20px;
  }
}
@media (max-width: 345px) {
  .head {
    flex-direction: column;
  }
  header button {
    margin-top: 10px;
  }
}
@media (max-width: 310px) {
  .footer {
    flex-direction: column;
  }
  footer a {
    margin-top: 10px;
  }
}
